{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'vendor/css/auth.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/css/profile.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
            crossorigin="anonymous"></script>

    <title>{% block title %} {% endblock %}</title>

  <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Lora&display=swap" rel="stylesheet">

    <!-- Ссылки на ваши стилевые файлы -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">

    {#  линки Димы#}
{#  <meta charset="UTF-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{##}
{#    <!-- Favicon -->#}
{#    <link rel="shortcut icon" href="{% static 'assets/img/favicon.svg' %}" type="image/x-icon">#}
{##}
{#    <!-- Tektur Font Regular 400/Medium 500/Bold 700 -->#}
{#    <link rel="preconnect" href="https://fonts.googleapis.com">#}
{#    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#    <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;700&display=swap" rel="stylesheet">#}
{##}
{#    <!-- M1 PLUS Code Font -->#}
{#    <link rel="preconnect" href="https://fonts.googleapis.com">#}
{#    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@700&display=swap" rel="stylesheet">#}
{##}
{#    <!-- Font Awesome -->#}
{#    <script src="https://kit.fontawesome.com/8a2fbc0c4d.js" crossorigin="anonymous"></script>#}
{##}
{#    <link rel="stylesheet" href="{% static 'assets/css/header+footer.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'assets/css/media-query-header.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'assets/css/product.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'assets/css/media-query-product.css' %}">#}
    {#  конец#}

  </head>

  <body>

    {% include 'navbar.html' %}

    <div id="content-container" style="margin-top: 5px;">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'footer.html' %}

    <!--  JavaScript Димы -->
{#    <script src="{% static 'assets/js/main.js' %}"></script>#}
{#    <script src="{% static 'assets/js/product/productSlider.js' %}"></script>#}
{#    <script src="{% static 'assets/js/product/product.js' %}"></script>#}
{#    <script src="{% static 'assets/js/product/commentsButton.js' %}"></script>#}
        <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- FontAwesome script -->
    <script src="{% static 'vendor/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>

