{% extends 'base.html' %}

{% load static humanize %}

{% block title %}
    Store - Корзина
{% endblock %}

{% block content %}

    {% if not baskets %}
        <div class="text-center">
            <br>
            <h1 class="text-center product_title">
                Your cart is empty
            </h1>
            <br>
            <p class="text-center">
                Click <a href="{% url 'home' %}">here</a> to go back to products
            </p>
        </div>


    {% else %}
        <div class="text-center">
            <br>
            <div class="text-center product_title">
                <h2>Shopping Cart</h2>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table cart-table">
                    <thead class="cart-thead">
                    <tr>
                        <th colspan="4">
                            Your Items
                        </th>
                    </tr>
                    </thead>
                    {% for basket in baskets %}
                        <tr>
                            <td>
                                <a href="{{ basket.product.get_url }}">
                                    {% for image in basket.product.product_photos.all %}
                                        {% if image.first_img %}
                                            <img src="{{ image.img.url }}" width="120"
                                                 height="120"
                                                 alt="{{ product.title }}">
                                        {% endif %}
                                    {% endfor %}

                                </a>
                            </td>
                            <td class="text_left">
                                {{ basket.product.name }}
                                <br>
                                SKU: {{ basket.product.id }}
                                <br>
                                Unit Price: {{ basket.product.last_price|intcomma }}
                                <br>
                                Quantity: {{ basket.quantity }} x {{ basket.product.last_price|intcomma }}
                            </td>
                            <td>
                                {{ basket.sum|intcomma }} ₽
                            </td>
                            {% if basket.quantity < basket.product.stock %}
                                <td>
                                    <a href="{% url 'basket_add' basket.product.id %}"><span
                                            class="material-icons cart-icon">add_shopping_cart</span></a>
                                    <a href="{% url 'basket_remove_product' basket.id %}"><span
                                            class="material-icons cart-icon">remove_circle_outline</span></a>
                                    <a href="{% url 'basket_remove' basket.id %}"><span
                                            class="material-icons cart-icon">delete</span></a>
                                </td>
                            {% else %}
                                <td>
                                    <a href="{% url 'basket_remove_product' basket.product.id %}"><span
                                            class="material-icons cart-icon">remove_circle_outline</span></a>
                                    <a href="{% url 'basket_remove' basket.product.id %}"><span
                                            class="material-icons cart-icon">delete</span></a>
                                </td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table cart-table">
                    <thead class="cart-thead">
                    <tr>
                        <th colspan="4">
                            Check Out
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Please check your cart before payment.
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td>
                            Your total bill is: <strong>{{ baskets.total_sum|intcomma }} ₽</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="mx-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-success btn-lg btn-block float-right"
                               href="{% url 'orders:order_create' %}">
                                Оформить заказ
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'home' %}" style="text-decoration: none">
                                <button type="button" class="btn btn-lg btn-block bg-dark text-white">
                                    Back to Products
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



{% endblock %}