  <nav class="navbar navbar-expand-md navbar-light bg-dark">
      <a href="/" class=navbar-brand><span class="material-icons text-primary material-icons md-36 margin_nav">shop
      </span></a>
      <button class="navbar-toggler bg-light" data-bs-toggle="collapse" data-bs-target="#navbar"><span class="navbar-toggler-icon"></span></button>
      <div id="navbar" class="collapse navbar-collapse justify-content-between">
        <ul class="navbar-nav">
          <li class ="nav-item dropdown">
              <a class ="nav-link
                text-light text-uppercase font-weight-bold px-3
                dropdown-toggle" data-bs-toggle="dropdown" href="">Categories
              </a>
              <div class ="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'home' %}">Все товары</a>
                  {% for category in links %}
                  <a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
                  {% endfor %}
              </div>
          </li>
          <li class ="nav-item"><a class ="nav-link text-light text-uppercase font-weight-bold px-3" href="">Contacts</a></li>
          <li class ="nav-item"><a class ="nav-link text-light text-uppercase font-weight-bold px-3" href="">About</a></li>
          {% if request.user.is_authenticated and request.user.first_name %}
          <li class ="nav-item"><a class ="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'profile' user.id %}">Welcome, <!--Отображаем id профиля пользователя с помощью user.id-->
              {{ request.user.first_name }}!<span class="material-icons cart-icon">account_circle</span></a></li>

          <li class ="nav-item"><a class ="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signout' %}">Sign Out
              <span class="material-icons cart-icon">logout</span></a></li>

          {% else %}

          <li class ="nav-item"><a class ="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signup' %}">Sign Up
              <span class="material-icons cart-icon">person_add</span></a></li>
          <li class ="nav-item"><a class ="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'login' %}">Log in
              <span class="material-icons cart-icon">login</span></a></li>
          {% endif %}
          {% if item_count > 0 %}

          <li class ="nav-item"><a class ="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'cart_detail' %}">
              <span class="material-icons cart-icon">add_shopping_cart</span>({{ item_count }})</a></li>
          {% endif %}
        </ul>


      <form class="form-inline">
          <div class="input-group">
              <input type="text" placeholder="Search">
              <div>
                  <button class="btn btn-primary"><span class="material-icons material-icons">search</span></button>
              </div>
          </div>
      </form>

      </div>
  </nav>