{% extends 'base.html'%}

{% load static %}

{% block title %}
    Product
{% endblock %}

{% block content %}
    <div class="container py-3">
        <div class="row mt-5">
            <div class="col-10 mx-auto md-6 my-3">
                <div>
                    <h1>
                        {{product.name}}
                    </h1>
                    <h2 class="text-info font-italic mb-0">
                        {{product.price}}
                    </h2>
                </div>
            </div>

            <div class="col-10 mx-auto md-6 my-3">
                <img class="mx-5" width="37%"  src="{{product.image.url}}">
            </div>

            <div class="col-10 mx-auto md-6 my-3">
                <h2 class="product_desc">Дополнительная информация</h2>
                <p>{{product.description}}</p>
                {% if product.stock <= 0 %}
                <p>Out of Stock</p>
                {% else %}
                <a href="{% url 'add_cart' product.id %}">Add To Cart</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

