{% extends 'base.html'%}

{% load static %}

{% block title %}
    Product
{% endblock %}

{% block content %}
    <div class="container py-3">
        <div class="row mt-5">
            <div class="col-10 mx-auto md-6 my-3">
                <div>
                    <h1 class="product_title">
                        Reebok / Кроссовки REEBOK ROYAL COMPLETE CLN2
                    </h1>
                    <h2 class="text-info font-italic mb-0">
                        2819₽
                    </h2>
                </div>
            </div>

            <div class="col-10 mx-auto md-6 my-3">
                <img class="mx-5" width="75%"  src="{% static 'images/one-black-sneaker-shoe-isolated-on-white.jpg' %}">
            </div>

            <div class="col-10 mx-auto md-6 my-3">
                <h2 class="product_desc">Дополнительная информация</h2>
                <div>
                    <ul class="leaders px-0">
                        <li><span>ТНВЭД</span><span>6401990000</span></li>
                        <li><span>Ширина упаковки</span><span>24 см</span></li>
                        <li><span>Высота упаковки</span><span>13 см</span></li>
                        <li><span>Длина упаковки</span><span>32 см</span></li>
                        <li><span>Комплектация</span><span>Упаковка, Кроссовки</span></li>
                        <li><span>Пол</span><span>Мужской</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}