{% extends 'base.html'%}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <img src="{% static 'images/balloon_6.jpg' %}">
        </div>
    </div>

    <div class="py-4"> <!--Padding both *-top and *-bottom-->
        <div class="container"> <!--Задаем размер блоку-->
            <div class="row"> <!--Класс для создания колонок разметки сайта-->
                <div class="col-10 mx-auto my-2 text-center"><!--col-10-блок занимает 10 ячеек; my отступ слева и справа; mx отступ сверху и снизу-->
                    <h1 class="text-capitalize font-weight-bold"> <!--capitalize - текст начинается с заглавной буквы-->
                        Our products
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            {% for product in products%}
                <div class="col-9 mx-auto col-md-6, col-lg-3">
                    <div class="card mb-5">
                        <div class="p-4">
                            {% for image in product.product_photos.all %}
                                <a href="{{product.slug}}"><img class="card-img-top" src="{{ image.img.url }}" alt="{{ product.title }}"></a>
                            {% endfor %}


                        </div>

                        <div class="card-footer d-flex justify-content-between" style="background: transparent; border-color: transparent;">
                            <p class="font-weight-bold mb-0">
                                {{ product.name|truncatechars:30 }}
                            </p>
                            <h5 class="text-info font-italic mb-0">
                                 ₽{{ product.price }}
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}


            <nav aria-label="Page navigation example">
                    <div class="pagination justify-content-center">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>

            </nav>

        </div>
    </div>

{% endblock %}
