body {
    position: relative;
    overflow: hidden;
    height: 100vh;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.content h3 {
    color: white;
    margin-left: 50px;
    white-space: nowrap;
    width: 86px;
}

.content form {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content form input {
    background: transparent;
    border: 2px solid white;
    border-radius: 15px;
    width: 250px;
    padding: 10px;
    outline: none;
    padding-left: 15px;
    color: white;
    margin: 10px;
    transition: .3s ease-in-out background-color;
}

.content form input:hover {
    background-color: black;
}

.content form input:focus {
    background-color: black;
} 


.content form input:focus::placeholder {
    transform: translateY(-100px);
    transition: .5s ease transform;
}

.content button {
    position: relative;
    overflow: hidden;
    padding: 7px 20px;
    background-color: transparent;
    cursor: pointer;
    color: white;
    outline: none;
    margin: 20px 0;
    border-radius: 30px;
    border: 2px solid white;
    transition: .3s ease box-shadow, .3s ease transform ;
}

.content button:hover {
    box-shadow: 0 0 0 3px #7230FF;
    transform: scale(1.1);
}

.content button:hover::before {
    bottom: 0;
    border-radius: 0;
}

.content button::before {
    content: '';
    position: absolute;
    background-color: #7230FF;
    color: white;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    z-index: -1;
    border-radius: 100%;
    transition: .3s ease;
}

.content a {
    position: relative;
    overflow: hidden;
    transition: .3s ease transform;
}

.content a:hover::before {
    left: 0;
}

.content a:hover {
    transform: scale(1.1);
}

.content a:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #7230FF;
    left: -100%;
    bottom: 0;
    transition: .3s ease;
}